body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #283136;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

input {
	border: 2px solid #d7dcde;
}

input::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.button {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    background-color: #fb565a;
}

.button:hover {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-header,
.advantages-slider {
    background-color: #eee;
}

.main-nav {
    font-size: 16px;
    line-height: 30px;
    color: #000;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a, 
.user-navigation a {
    color: #000;
    text-transform: uppercase;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.advantages-list {
    list-style: none;
}

.advantages-title {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000;
}

.advantages-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}



/*End of header & advantages
slider*/ 

.services-list {
    list-style: none;
}

.service-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.service-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.button-green {
    background-color: #00ca74;
}

.button-green:hover {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
    color: rgba(255, 255, 2555, 0.3);
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover {
    background-color: #eab534;
    color: #ffffff;
}

.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255, 255, 2555, 0.3);
}


/*end of services*/


.about-us-lead-text {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.about-us-principles {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.orders-we-do {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.orders-we-do-list {
    font-weight: 400;
    list-style: none;
}

.orders-we-do-list li:before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.side-block-statistics caption {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.side-block-statistics tr:first-child {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.side-block-statistics tr:last-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.side-block-statistics span {
    vertical-align: super;
    font-size: 25px;
    margin-left: -12px;
}


.client-logo a {
    opacity: 0.2;
}

.client-logo a:hover {
    opacity: 1;
}

.client-logo a:active {
    opacity: 0.1;
}

/* end of - our clients*/
.main-footer {

    background: #e9e5db url("../img/map-with-marker.png") no-repeat;
    background-position: center center;
    background-size: 100%;

}

.contacts-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-address {
    color: #666;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;

}

.contacts-address a {
    color: #666;
}

.contacts .button {
    background-color: #fb565a;
}

.social-links-info .lead-text {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.lead-text-description {
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
  
.social-button {
    background-color: #e1e1e1;
}

.feedback-form-title {
    font-size: 45px;
    line-height: 45px;
}

.modal-form .your-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

/*Catalog extra styling*/

.templates-shop-title {
	background-color: #eee;
}

.templates-shop-title-name {
	color: #000;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.filters-block .button {
	background-color: #eee;
	color: #000;
}

.filters-block h2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05px;
}

.layout-name,
.checkbox-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.catalog-sort-name {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.catalog-sort-type li {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}



.catalog-sort-type li:hover {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-sort-type li:active {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.template-item-name a {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.templates-item-description {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}